@mixin bp($point) {
	@if $point == 100 {
		@media (min-width: 100em) { @content; }
	}
	@else if $point == 80 {
		@media (min-width: 80em) { @content; }
	}
	@else if $point == 62.5 {
		@media (min-width: 62.5em) { @content; }
	}
	@else if $point == 50 {
		@media (min-width: 50em) { @content; }
	}
	@else if $point == 44 {
		@media (min-width: 44em) { @content; }
	}
	@else if $point == 30 {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == 25 {
		@media (min-width: 25em) { @content; }
	}
}


/*Clearfix*/
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
}
/*Box-sizing*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*Responsive Images*/
img {
	max-width: 100%;
	height: auto;
}
.assistive-text,
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

@mixin button($back-color, $text-color, $border-color) {
	display: inline-block;
	padding: 0.5em 1.5em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Oswald', sans-serif;
    font-weight: 300;
	background: $back-color;
	color: $text-color;
	border: 1px solid $border-color;
	text-decoration: none;
	letter-spacing: 1px;
	&:focus {
		outline: none;
		color: $text-color;
		background: darken($back-color, 5%);
		border-color: darken($border-color, 5%);
	}
	&:hover {
		color: $text-color;
		background: darken($back-color, 10%);
		border-color: darken($border-color, 10%);
	}
}
