.header-container {
	position: relative;
	z-index: 2;
    .wrap {
        position: relative;
    }
}
.site-branding {
    position: absolute;
    left: 0;
    top: 0.25em;
    font-size: 0.875em;
    h1 {
        margin: 0;
    }
    a {
        display: block;
        width: 1.75em;
        height: 2.275em;
        background: url(_i/logo-dark.png) top left no-repeat;
        background-size: 1.75em;
        text-indent: -9999px;
        @include bp(50) {
            width: 4em;
            height: 4em;
            background-size: 2.5em;
        }
    }
}
.menu-toggle {
    position: absolute;
    right: 0;
    top: 0.25em;
    @include button(transparent, #fff, #fff);
    padding: 0.25em 1em;
    font-size: 1.1em;
	&:hover {
		background: #fff;
		color: $black;
		border-color: #fff;
	}
    @include bp(50) {
        display: none;
    }
}
.menu-top-navigation-container {
    display: none;
    @include bp(50) {
        display: block;
    }
}
.main-navigation {
    text-align: center;
    .menu {
        list-style: none;
        margin: 5em 0 0 0;
        padding: 0;
		border-top: 1px solid #fff;
		@include bp(50) {
			border-top: none;
			margin: 0;
		}
        > li {
            position: relative;
            a {
                display: block;
                padding: 1em 0.75em;
                @include heading;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1.25em;
            }
            @include bp(50) {
                display: inline-block;
                &:last-of-type {
                    position: absolute;
                    right: 0;
                    a {
                        @include button($black, #fff, $black);
                    }
                }
                a {
                    display: inline-block;
                    font-size: 1em;
                    color: $black;
                }
            }
        }
    }
    .sub-menu {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
		display: none;
		background-color: #fff;
		@include bp(50) {
			position: absolute;
			text-align: center;
			left: 0.65em;
			background-color: transparent
		}
        a {
            display: block;
			text-align: center;
			@include bp(50) {
				width: 12em;
			}
        }
		li {
			background: rgba(0,0,0,0.85);
		}
    }
}
.site-header {
    position: absolute;
    top: 2em;
    left: 0;
    right: 0;
    &.with-image {
        .site-branding {
            a {
                background: url(_i/logo-white.png) top left no-repeat;
                background-size: 3em;
            }
        }
        .main-navigation {
            .menu {
                > li {
                    a {
                        color: #fff;
						transition: all 250ms ease-in-out;
                        &:hover {
                            opacity: 0.7;
                        }
                    }
                    &:last-of-type {
                        a {
                            @include button(transparent, #fff, #fff);
                            display: block;
							&:hover {
								background-color: #fff;
								color: $black;
								border-color: #fff;
								opacity: 1;
							}
                            @include bp(50) {
                                display: inline-block;
                            }
                        }
                    }
                }
				li.menu-item-has-children {
					position: relative;
					padding-right: 0.5em;
					> a {
						&:before {
							content: '';
							background-image: url(_i/chevron-down-white.png);
							background-repeat: no-repeat;
							background-size: 0.35em;
							width: 0.35em;
							height: 0.35em;
							position: absolute;
							top: 1.8em;
							right: 0.5em;
						}
						&.transform {
							&:before {
								transform: scale(-1, -1);
							}
						}
					}
					&:hover .sub-menu {
						@include bp(50) {
							display: block;
						}
					}
					.sub-menu {
						a {
							padding: 1em;
							&:hover {
								opacity: 1;
								color: $black;
								background-color: #fff;
							}
						}
					}
				}
            }
        }
    }
}
.dark,
.dark-box {
    .site-header {
        .site-branding {
            a {
                background: url(_i/logo-dark.png) top left no-repeat;
                background-size: 1.75em;
            }
        }
        .main-navigation {
            ul {
                li {
                    a {
                        color: $black;
                    }
                    &:last-of-type {
                        a {
                            @include button($black, #fff, $black);
                        }
                    }
                }
            }
        }
    }
}
.show-nav {
    .site-branding {
        z-index: 901;
    }
    .menu-top-navigation-container {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.9);
        z-index: 900;
        padding: 3em 1em;
    }
    .menu-toggle {
        z-index: 901;
    }
}
