/*Basic Grid*/
.site {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	max-width: 105em;
	box-shadow:	0 2px 4px rgba(0,0,0,0.3);
}
.wrap {
	width: 90%;
	max-width: 67.5em;
	margin: 0 auto;
	@include bp(62.5) {
		width: 100%;
	}
}
.sm-wrap {
	position: relative;
	width: 90%;
	max-width: 45em;
	margin: 0 auto;
	@include bp(50) {
		width: 100%;
	}
}

.half {
	margin-bottom: 2em;
	@include bp(44) {
		float: left;
		width: 47.5%;
		margin-bottom: 0;
		&.first {
			margin-right: 5%;
		}
	}
}
.halves {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin: 0 0 1em;
	}
	@include bp(44) {
		> li {
			float: left;
			width: 47.5%;
			margin: 0 5% 1em 0;
			&:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
}
.two-third {
	@include bp(44) {
		float: left;
		width: 65%;
		&.first {
			margin-right: 5%;
		}
	}
}
.third {
	@include bp(44) {
		float: left;
		width: 30%;
		&.first {
			margin-right: 5%;
		}
	}
}
.fifty {
	margin-bottom: 2em;
	@include bp(44) {
		float: left;
		width: 50%;
		margin-bottom: 0;
	}
}
.four-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		float: left;
		width: 46%;
		margin: 0 8% 1em 0;
		&:last-child, &:nth-child(even) {
			margin: 0;
		}
	}
	@include bp(50) {
		> li {
			width: 22%;
			margin: 0 4% 1em 0;
			&:nth-child(even) {
				margin: 0 4% 1em 0;
			}
			&:last-child, &:nth-child(4n) {
				margin: 0 0 1em;
			}
		}
	}
}
.three-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1em;
	}
	@include bp(44) {
		> li {
			float: left;
			width: 30%;
			margin: 0 5% 1em 0;
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
			&:nth-child(4n) {
				clear: left;
			}
		}
	}
}

.two-list {
	list-style: none;
	padding: 0;
	margin: 0;
	> li {
		display: block;
		margin-bottom: 1em;
	}
	@include bp(44) {
		> li {
			float: left;
			width: 45%;
			margin: 0 10% 1em 0;
			&:last-child, &:nth-child(even) {
				margin: 0 0 1em;
			}
		}
	}
}
.centered-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		max-width: 47%;
		margin: 0 6% 1em 0;
		vertical-align: top;
		&:nth-child(even) {
			margin: 0 0 1em;
		}
	}
	@include bp(44) {
		li {
			max-width: 30%;
			margin: 0 5% 1em 0;
			&:nth-child(even) {
				margin: 0 5% 1em 0;
			}
			&:last-child, &:nth-child(3n) {
				margin: 0 0 1em;
			}
		}
	}
}

blockquote {
	font-size: 0.875em;
	font-style: italic;
	color: darken($text, 5%);
}
hr {
	display: block;
	height: 1px;
	width: 80%;
	background: $gray;
	margin: 2em auto;
	border: 0;
}
.modalVideo {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: #333;
	background: rgba(249,249,249,0.7);
	transition: all 0.3s;
	.modalContent {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50%;
		max-width: 630px;
		min-width: 320px;
		height: auto;
		z-index: 2000;
		visibility: hidden;
		backface-visibility: hidden;
		transform: translateX(-50%) translateY(-50%);

		svg {
			display: none;
			width: 100px;
			height: 100px;
			margin: 0 auto;
			display:block;
		}
	}
	&.showModal {
		opacity: 1;
		visibility: visible;
		.modalContent {
			visibility: visible;
		}
	}
}
.hideModal {
	position: fixed;
	bottom: 20%;
	left: 50%;
	text-align: center;
	transform: translateX(-50%);
	text-transform: uppercase;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	z-index: 2001;
}
.module-generic {
	padding: 4em 0;
}
.gform_wrapper {
	* {
		font-family: 'Oswald', sans-serif;
	}
	.gform_body {
		input[type=text],
		input[type=email] {
			border-top: 0;
			border-right: 0;
			border-left: 0;
		}
	}
	label {
		letter-spacing: 1px;
	}
}
