.page-header {
	position: relative;
    img {
        display: block;
    }
    &.dark-box {
        .header-content {
            background: #333;
            background: rgba(0,0,0,0.7);
            padding: 1em 2em;
        }
    }
    &.white-box {
        .header-content {
            background: #fff;
            background: rgba(255,255,255,0.7);
            padding: 1em 2em;
            color: $text;
        }
    }
    &.dark {
        .header-content {
            color: $text;
        }
    }
}
.no-banner {
    .menu-toggle {
        border-color: $black;
        color: $black;
        &:hover {
            background: $black;
            color: #fff;
        }
    }
    .page-header {
        padding-bottom: 8%;
    }
}
.header-content,
.hero-content {
    text-align: center;
    width: 80%;
    max-width: 45em;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    p {
        font-style: italic;
        margin: 0 0 1em;
    }
	a {
		font-style: normal;
	}
    h1 {
        margin: 0;
    }
    h2 {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1.3;
        letter-spacing: 0.1em;
    }
    @include bp(44) {
        top: 50%;
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        margin: 0;
        h2 {
            font-size: 3em;
        }
    }
    @include bp(62.5) {
        h2 {
            font-size: 3.5em;
        }
    }
}
.hero-image {
	background-image: url('http://placehold.it/2560x800');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: 50% 50%;
	&.white {
		.site-header {
			a {
				color: #fff;
			}
		}
		.site-branding {
			a {
				background: url(_i/logo-white.png) top left no-repeat;
				background-size: 2.5em;
				height: 3em;
				width: 3em;
			}
		}
		.menu {
			> li:last-child {
				a {
					@include button(#fff, $black, #fff);
					margin-top: 0.35em;
					&:hover {
						background: $black;
						color: #fff;
						border-color: $black;
					}
				}
			}
		}
	}
}
.hero-content {
	top: 50%;
}
.home-page-content {
	.page-header {
		display: none;
	}
}
